# Xcode
.DS_Store
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/

# IDE
.vscode/

# Media files
*.mp4
*.mp3

# Other
*.backup
project_cleanup.txt

# Configuration files with sensitive data
CLCcollective/Config.plist backend/.env
.env
node_modules/
